.system-title{
	margin:0px; 
	padding:22px;
	display: inline-block;
}
.content-title{
	padding-right: 16px;
	padding-left: 16px;
    margin: 0px;
    border-bottom: 2px solid #14b9d6;
    display: inline-block;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{
	font-size:18px !important;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a{
	font-size: 17px !important;	
}
.notification{
	font-size: 19px;
}
label{
	font-size: 20px;
}
.submit-button{
	margin-top: 20px !important;
    display: inline-block;
    margin: 0 auto;
}
.form-control{
	height: 40px; 
	font-size: 20px;
}
h4.message-result{
	color:red;
	font-size: 20px;
}
